name: Update version
on: 
    pull_request:
        branches:
            - main
permissions: write-all
jobs:
  build:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref }}
      - uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: Set Up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.20'
      - name: Install protolock
        run: |
          go install github.com/nilslice/protolock/cmd/protolock@latest
          protolock
      - name: Check broken compatibility and update version
        run: |
            python3 version.py
            echo "RELEASE_TAG=$(cat VERSION)" >> $GITHUB_ENV
            cat VERSION
            git status
            git diff
      - name: Commit changes
        uses: EndBug/add-and-commit@v9
        with:
          author_name: GitHub Actions
          author_email: actions@github.com
          message: Release ${{ env.RELEASE_TAG }}
          add: "['VERSION', 'proto.lock']"
          push: "-o ci.skip"
          github_token: ${{ secrets.TK }}